.progress-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #F2E9E1;
    border-radius: 50%;
    box-sizing: border-box;
}

.left-half-clipper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    clip: rect(0, 50px, 100px, 0);
}

.left-half-clipper .value-bar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.left-half-clipper .sub-value {
    border-radius: 50px 0 0 50px;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border: 10px solid rgb(214, 147, 89);
    border-right: 0;
}

.right-half-clipper {
    width: 100%;
    height: 100%;
    position: absolute;
    clip: rect(0, 100px, 100px, 50px)
}

.right-half-clipper .value-bar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.right-half-clipper .sub-value {
    margin-left: 50%;
    width: 50%;
    height: 100%;
    border: 10px solid rgb(214, 147, 89);
    border-left: 0;
    box-sizing: border-box;
    border-radius: 0 50px 50px 0;
}