.p-00 {
    .left-half-clipper .sub-value,
    .right-half-clipper .sub-value {
        border: none;
    }
}

@for $i from 1 through 100 {
    $index: 'p-' + $i;
    @if $i < 10 {
        $index: 'p-0' + $i;
    }
    .#{$index} {
        @if $i <=50 {
            .left-half-clipper .value-bar {
                transform: rotate(180deg - $i*3.6deg);
            }
            .right-half-clipper .value-bar {
                transform: rotate(180deg);
            }
        }
        @else {
            .left-half-clipper .value-bar {
                transform: rotate(0deg);
            }
            .right-half-clipper .value-bar {
                transform: rotate(360deg - $i*3.6deg);
            }
        }
    }
}